
.flTable {
    border-radius: 5px;
    font-size: 20px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
}

.flTable td, .flTable th {
    text-align: center;
    padding: 8px;

}

.flTable td {
    border-right: 1px solid #f8f8f8;
    font-size: 16px;

}

.flTable thead th {
    color: #ffffff;
    background: #833315;
}


.flTable thead th:nth-child(odd) {
    color: #ffffff;
    background: #c46643;
}

.flTable tr:nth-child(even) {
    background: #fcf2f2;
}


.flTable button {
    cursor: pointer;
    font: inherit;
    border: none;
    background-color: #4d1601;
    color: white;
    padding: 0.50rem 1rem;
    display: flow;
    justify-content: space-around;
    align-items: center;
    border-radius: 25px;
    font-weight: bold;
    margin-left:5px;

}

.flTable button:hover,
.flTable button:active {
    background-color: #2c0d00;
}

.flTable button:hover .badge,
.flTable button:active .badge {
    background-color: #92320c;
}

.h2
{
    text-align: center;
    color:white;
}

.flTable input {
    font: inherit;
    padding: 0.5rem;
    border-radius: 12px;
    border: 1px solid #ccc;
    width: 20rem;
    max-width: 100%;
    margin-top: 14px;
    margin-left: 5px;

}
